// **************************************
// BASE STYLES
// **************************************

@use "../utilities/variables" as v;
@use "../utilities/colors" as c;
@use "../utilities/mixins" as *;
@use "../utilities/placeholders" as *;

* {
  box-sizing: border-box;
  // background: #000 !important;
  // color: #0f0 !important;
  // outline: solid #f00 1px !important;
}

html {
  font-size: 1rem;
}

html,
body,
#root,
.main__grid--wrapper {
  min-height: 100vh;
}

body {
  font-family: v.$font-stack-main;
  background: c.$color-main;
  color: c.$white;
}

main {
  padding: 1.5rem;
}

span,
a {
  color: c.$color-accent;
}

svg,
img {
  @extend %img-props;
}

p {
  margin-bottom: 2.5rem;
}

a {
  display: inline-block;
}
