// **************************************
// TYPOGRAPHY STYLES
// **************************************
@use "../utilities" as *;
h1,
h2 {
  margin: 1rem 0 0.5rem;
}
//h1 styles
.title__primary {
  @include text-prop($size: 1.6rem, $f-weight: 700, $l-height: 1.3);
  margin-top: 2.5rem;
  @include mq("md") {
    @include text-prop($size: 2rem, $l-height: 1.4);
  }
}

.title__secondary {
  @include mq("md") {
    font-size: 1.3rem;
  }
}

//content styles
.content__main,
.content__attribution {
  text-align: center;
}

.title__primary,
.content__main,
.content__stats {
  @include mq("md") {
    text-align: left;
  }
}

.content__paragraph {
  @include text-prop(
    $size: 0.9rem,
    $l-height: 1.7,
    $color: $color-text-lighter,
    $f-weight: 400
  );
  margin-top: 1.5rem;
}

.content__stats {
  color: $color-text-lightest;
  @include mq("md") {
    font-size: 0.9rem;
  }
}

.content__paragraph,
.content__stats {
  font-family: $font-stack-secondary;
}
